body {
  background-color: #e5e5e5!important;
}

nav {
 background-color: #fff;
 box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

/* .w-400 {
  font-weight: 400;
} */

.w-500 {
  font-weight: 500;
}

.w-700 {
  font-weight: 700;
}

#headline {
  padding: 20% 17% 15% 17%;
  background-color: #fff;
  background-image: url(./images/Header\ bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 0 8rem;
}

#headline > div {

}

#headline h1 {
  font-size: 3rem;
}

#headline p {
  font-size: 1.25rem;
}

#projects {
  padding: 10% 10%;
  /* background-color: #e5e5e5; */
}

#projects img {
  width: 100%;
}

#projects .card {
  border-radius: 1.5rem;
}
